<h1>login</h1>

<form id="loginForm" action="">
  <label for="">Usuario</label>
  <input type="text" name="email" id="">
  
  <label for="">Contraseña</label>
  <input type="password" name="password" id="">

  <button type="submit">Iniciar sesión</button>
</form>

<script src="/js/login.js"></script>