{{#each productsMapped}}
  <div style="border: 3px black;">
    <li><h3>{{this.name}}</h3>
    <h4>{{this.type}}</h4>
    <p>{{this.description}}</p>
    <p>{{this.unitPrice}}</p>
  </li></div>

{{/each}}